<html  xmlns:th="http://www.thymeleaf.org" 
       th:replace="normal/base::layout(~{::section})">        
 

<section >

  <div class="container">

      <div class="card">
       <div class="card-body text-center my-5">
       
           <div class="container ">
 
                <img class="my_profile_pic" style="height: 200px; width: 200px;" 
                 src="" th:src="@{'/image/contact.png'}" alt="profile photo" />
                 
          </div>      
          
          <h1 class="text-center mt-3 text-secondary font-italic font-weight-light">
              Adding Contact To Cloud...
          </h1>     
          
          <a th:href="@{'/user/add-contact'}" class="btn btn-primary mt-4  text-uppercase"> Add New Contact </a>  
          
          <hr/>
          
          <!-- Payment integration -->
          
          <h3 class="my-2 text-left">Donate Us</h3>
          <input id="payment_field" type="text" class="form-control my-2" placeholder="Enter the donation amount..." />
          
          <div class="container">
             <button onClick="paymentStart()" class="btn btn-success mt-3">
                 Pay
             </button>
          </div>
          
          
          
       
       </div>
      </div>
      
   </div>    
   
   
   <script>
    
     $(document).ready(() =>{
    	 
    	 $('.item').removeClass("active");   	
    	 $('#home-link').addClass('active');
    	 
     });
     
   
   </script>
   
   
</section>

</html> 