<html  xmlns:th="http://www.thymeleaf.org" 
       th:replace="base::layout(~{::section})">        
 

<section >

  <div class="conatiner" >
    <div class="row">
    
     
      <div class="col-md-6 offset-md-3" >
        
         <div class="my-card mt-2" >
         
         
        <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert " role="alert">
            <p th:text="${session.message.content}"></p>
            
            <th:block th:text="${#session.removeAttribute('message')}"></th:block>
        </div>
   
   
          <h3 class="text-center">Register </h3>
         <div class="conatiner text-center" >
             <img alt="register" th:src="@{/image/forbidden.png}" style="width: 100px;" />
         </div>
         
         
         
           
            <form novalidate  th:action="@{/do_register}" method="post" th:object="${user}">

						<!-- name  -->
						<div class="form-group">
							<label for="name"> Name:</label> 
							  <input type="text"
								class="form-control " 
								
								name="name" 
								id="name" 
								placeholder="Enter your name"
								required
								th:value="${user.name}" />
								
								<div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
                                   
                                </div>
								
						</div>
						<!-- email  -->
						<div class="form-group">
							<label for="email">Email:</label> <input type="email"
								class="form-control" name="email" id="email" placeholder="Enter your email"
								required th:value="${user.email}" />
						</div>
						<!-- password  -->
						<div class="form-group">
							<label for="password">Password:</label> <input type="password"
								class="form-control" name="password" id="password" placeholder="Enter your password"
								required />
						</div>
						<!-- Description  -->
						<div class="form-group">
						    <label for="about">About:</label>
							<textarea th:value="${user.about}" name="about"  class="form-control" rows="6"  placeholder="Enter the description"></textarea>
						</div>
						
						<!--  terms and condition  -->
						  <div class="form-group form-check text-center">
						   
						   <input type="checkbox" 
								class="form-check-input " id="agreement" name="agreement" 
								 />
						  <label for="agreement">Accept Terms and Conditions</label> 
						  </div>
						
                        <div class="container text-center">
                           <button class="btn btn-primary" type="submit">
                              Submit
                           </button>
                            <button class="btn btn-warning text-white" type="reset">
                              Reset
                           </button>
                        
                        </div>


					</form>
         
         
         </div>
      
      </div>
    
    </div>
  </div>  
 
</section>

</html> 